{{#> layout}}
<div class="contenedor-formulario">
    <form action="register" method="post" validate>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Correo</label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1"
                aria-describedby="emailHelp" required>
            <div id="emailHelp" class="form-text">Nunca compartas tu correo con
                nadie.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="password"
                id="exampleInputPassword1" required>
        </div>
        <button type="submit" href="register" class="btn btn-primary">Registrar</button>
    </form>
</div>
{{/layout}}